/*basic reset*/

* {margin: 0; padding: 0;}



/* -------------------------  universals  ----------------------*/


body {
    font-size: 16px;
    background-color: #fff;
    font-family: 'AileronRegular'; 
    font-weight: normal; 
    font-style: normal;  
    letter-spacing: .075em;
}

h1{font-size:2.5em}
h2{font-size:2.0em}
h3{font-size:1.75em}
h4{font-size:1.50em}
h5{font-size:1em}

p{
    font-family: 'AileronLight';
    line-height: 25px;
    font-size: .9em;  
    letter-spacing: .05em;
}    
a:link {
    text-decoration: none;
    color:black;
    
}
a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.btn,
.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus {outline:0;}
btn:focus{ouline:0;}
#process-logo{
    width:2%;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
/*  ---------------------------   loader css -------------------------------- */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/Preloader_2.gif) center no-repeat #fff;
	opacity: 0.8;
	
}

/* -------------------------  header  ----------------------*/


.header{
    background-color: #d52024;
    padding-top: 15px;
}
 .logo img{
    width:30px;
    float:left;
    margin-right: 5px;

}
 .logo{
    margin-right: 15px;
    padding-top: 6px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
}

.navbar-toggle .icon-bar{
    background:white;
}
.navbar{
    border-radius: 0;
    display: block;
    margin:0px;
}
.navbar li{
    display: inline;
    font-size: 12px;
    margin-right:5px;
    font-family: 'AileronThin'
}
.navbar a:link{
    color:white;
}
.navbar a:visited{
    color:white;
}
.nav-1{
   flex-grow:1 
}
.getHelp{
    border-radius:18px;
    font-family: 'AileronThin';
    letter-spacing: .09em;
    font-size: 12px;
    outline:none;
}
.nav-2 button:hover{
    margin-top:1px;
    transition: .95s;
}
.logo span{
    color:white;
    font-size: 25px;
}
.logo{
    float:left;
}
#getHelp {
     padding-top: 1rem;
}
.dropdown-content{
    display: none; 
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* <-- Added */
    background-color:#d52024;
}
.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background:lightgray;    
}
li.dropdown:hover .dropdown-content{
    display:block;
}
/* -------------------------  footer  ----------------------*/

.footer{
    color: white;
    font-size: 12px;    
    line-height:25px;
    background-color:#ed2428; 
    border-top:5px solid #be1d20;   
}

.footer ul{
     font-family: 'AileronThin';
}
.footer p{
     font-family: 'AileronThin';
}
.footer .container{
    width:70%;
}
.footer ul{
    list-style:none;
}
.socials ul{
    display: inline;
    padding:0px;
}
.socials{
    padding:0px;
}
.extras ul{
    display:inline;
}
.socials li{
    float:left;
}
.extras li{
    float:left;
    margin-right:15px;
}
.socials img{
    width:60%;
}
.footer a:link{
    color:white;
}
.footer a:visited{
    color:white;
}
.section1{
    line-height:35px;
}
.section4{
    margin-top:20px;
}
/*#life-page .footer, #quote-page .footer{*/
/*    text-align:center; */
/*    padding: 15px 0px;  */
/*    width:100%; */
/*    background-color:#9c292b;    */
/*}*/
.section2 ul li:nth-child(1), .section3 ul li:nth-child(1){
    font-family: 'AileronSemibold';
}
.footer .row{
    padding-top:50px;
    padding-bottom:50px;
}
/*----------------------------- popup ----------------------------------------*/

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}


/* -------------------------  _why_us partial  ----------------------*/
.why-us{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+81,ececec+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 81%, #ececec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 81%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 81%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */    
}
.why-us:before{

}
.why-us h2{
    text-align:center;
}
.features-container{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}
.features{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.feat{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow:auto;
    height:72px;
    margin-bottom: 10px;
    font: 0/0 a;    
    background-color: white;
}
.feat:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}
.feat-left{
    background-color: #ed2428;
    color:white;
    float:left;
    padding: 10px 15px;
    min-width: 65px;
}
.feat-left h1{
    margin:0px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
    font-size: 3em;
}
.feat-right, .feat-details, .feat-logo{
    display: inline-block;
        font-size: 12px;
}
.feat-right{
    text-align: center;
}
.feature-details{
    text-align: center;
        margin-top: 50px;
}
.feat-right, .feat-left{
    display: inline-block;
    vertical-align: middle;  
    font: 16px/1.4 'AileronRegular'; ;
}
.feat-logo{
    margin-left:15px;
}
.feat-details p{
        line-height: 1.5em;
}
/* -------------------------  _team partial  ----------------------*/
.team .container{
    width:70%;
}
.team ul{
    list-style:none;
    padding: 0px;
}
.team-pics img{
    width:80%;
}
.team-highlights ul{
    margin-top: 40px;
}
.team-highlights h2{
    border-bottom: 2px solid red;
    width: 65%;
    padding-bottom: 10px;
}

/* -------------------------  _getstarted partial  ----------------------*/

.get-started{
    text-align:center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ffffff+49,ececec+100 */
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #ffffff 49%, #ececec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#ffffff 49%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#ffffff 49%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
.getStarted{
    background-color: #ed2428;
    border-radius: 50px;
    border: 0px;
    color: white;
    padding: 20px 70px;
    box-shadow: 1px 1px 0px rgba(0,0,0, .5);
}
.getStarted:hover{
    margin-top:1px;
    transition: .95s;    
}
.get-started select {
    outline: none;
    border-radius: 0px;
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    padding: 10px 40px;
    font-size: 25px;
    border: 1px solid #ccc;
    /* height: 34px; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/dropdown-arrow.png) 96% / 10% no-repeat #fff;
}
.buttonSpl{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  background-color: #d52024;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  color: #fff;
  outline: none;
}
.buttonSpl:hover {
    background-color: #d52024
    outline: none;
    color: #fff;
}
.buttonSpl:active{
    color: #fff;
  background-color: #d52024;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
     select {
        background:none\9;
        padding: 5px\9;
    }
}
/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
     select {
        background-image:none\9;
        padding: 5px\9;
    } 
}

/* -------------------------  _blog partial ----------------------*/
.blog .container{
    width:50%;
}
.blog-row {
    margin-top: 25px;
    display:inline-block;
}
.blog-row img{
    width:100%;
}
.title-animate:hover .text{
    font-size:14px;
    height:25%;
    display: block;
}
.blog2{
    margin-bottom:5px;
}
.text{
    
    font-family: 'AileronThin';
    font-size: 0px;
    color:white;
    position: absolute;
    text-align:center;
    left: 0;
    bottom: 0;
    height:1px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-transition: font-size 2s; /* Safari */
    transition: font-size 2s; 
    -webkit-transition: height .5s; /* Safari */
    transition: height .5s;    
}
.title-animate{
    position: relative;
    margin-bottom:10px;
}
/* -------------------------  _questions partial  ----------------------*/

.questions{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ffffff+49,ececec+100 */
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top, #ececec 0%, #ffffff 49%, #ececec 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ececec 0%,#ffffff 49%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ececec 0%,#ffffff 49%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */    
}
.questions .container{
    width:60%;
}
.questions ul{
    list-style: none;
    line-height: 25px;   
    float:right;
}
ul.quest li:nth-child(-n+4) {
    line-height: 35px;
    font-family:'AileronThin';
}
ul.quest li:nth-child(5) {
    font-family:'AileronThin';
    font-size:12px;
    line-height:18px;
}
.quest h3{
    color: #ed2428;
    font-weight:bold;
    margin-top:0px;
}

.faq h3{
    display: inline-block;
    margin:0px;
}
.faq h5{
    font-size: 1em;
 
}
.faq img{
    display: inline-block;
    width:75%;
}
.faq{
    margin-bottom: 45px;
}
.faq:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}
.faq div:nth-child(1){
    display:inline-block;
    vertical-align: middle;
     max-width: 300px;

}
.faq div:nth-child(2){
    display: inline-block;
    vertical-align: middle;
}
.faq li:nth-child(2){
    margin-right:30px;
}
.faq h5{margin:0px;}
.answer-button{

    cursor:pointer;
}
.answer-button:active,
.answer-button:focus,
.answer-button.active {
  
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.answer{
    clear:both; 
    display:none; 
}
.faq-ul h5{
        line-height: 25px;
}
.faq div:nth-child(2){
        margin-top: 10px
}
.faq div:nth-child(1){
        margin-bottom: 10px;
}



/* -------------------------  home page  ----------------------*/

#home-page .title, #lifelander-page .title{
    text-align:center;
    color: white;
    margin-top: 50px;
}
#home-page .title h1, #lifelander-page .title h1{
    line-height: 1.2em;
    font-family: 'AileronThin'; 
    font-size:3.0em;
}
#home-page .title span, #lifelander-page .title span{
    font-family: 'AileronThin'; 
    font-style:italic;
    font-size: 18px;
}
#home-page .main{
    background-image: url("/images/home-page-bg.jpg");
    background-repeat: no-repeat;
    background-size: 2500px 888px;
    background-color: #ea2931;
    background-position:center top;
    border-bottom:1px solid #8b8b8b;
    margin-top: 66px;

}
#home-page .services{
    display: flex;
    border: 1px solid #cac5c5;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    background-color: blue;
    margin-top:50px;
    width: 70%; 
    margin: 0 auto;
    margin-top:50px;
    min-width: 300px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cacaca+0,cacaca+0,dedede+0,ffffff+53,dedede+100,cacaca+100 */
    background: #cacaca; /* Old browsers */
    background: -moz-linear-gradient(top, #cacaca 0%, #cacaca 0%, #dedede 0%, #ffffff 53%, #dedede 100%, #cacaca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cacaca 0%,#cacaca 0%,#dedede 0%,#ffffff 53%,#dedede 100%,#cacaca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cacaca 0%,#cacaca 0%,#dedede 0%,#ffffff 53%,#dedede 100%,#cacaca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */    
}
#home-page .serv {
    text-align: center;
    margin: auto; 
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right:1px solid lightgray;
     padding: 15px;
}
#home-page .serv:hover{
    background-color: rgba(51, 122, 183, 1);
    color:white;
}
#home-page .serv:hover h3{
    color:white;
}
#home-page .serv:nth-child(5){
    border-right: none;
}
#home-page .divider{
    background-image: url("images/vertical-divider.jpg");
    background-repeat: repeat-y;
    height:100%;
    width:2px;
}
#home-page .carrier-logo{
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 25px;
}
#home-page .c-logo{
    margin: auto;
}
#home-page .c-logo img{
    width:100%;

}
#home-page .row, #lifelander-page .row{
    padding-top:50px;
    padding-bottom:50px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #home-page .services {
        width: 76%;
    }
}

@media screen and (min-width: 376px) and (max-width: 541px) {
    #home-page .services {
        width: 100%;
    }
}

.back{
    position:absolute;
    top:0px;
    font-family: inherit;
    
}
/*  ---------------------------   quote page  -------------------------------- */

#life-page .header, #verify-page .header{
    background-color:white;
    padding:0px;
    margin: 0 auto;
    border-bottom: 1px solid #d2d1d1;
    position: relative;
    padding: 10px 0px; 
}
#quote-page .header img, #life-page .header img, #verify-page .header img, #userinfo-page .header img, #userdetails-page .header img{
    display: block;
    margin: 0 auto;
}
#quote-page .header button, #life-page .header button, #verify-page .header button, #userinfo-page .header button, #userdetails-page .header button{
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 5px 15px;
    border-radius: 30px;
    outline: none; 
    border: 1px solid lightgray;
    background-color: white;
    color:black;
}
#quote-page .header button:hover, #life-page .header button:hover, #verify-page .header button:hover, #userinfo-page .header button:hover, #userdetails-page .header button:hover{
    background-color: lightgray;
}
#quote-page .controls{
    display: flex;
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
}
#quote-page .controls div{
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;    
}
#quote-page .adjust-title{
    margin-top:35px;
}
#quote-page .adjustments {
      
    font-family: 'AileronThin';
    border-bottom: 1px solid rgb(218, 218, 218);
    
}
#quote-page .adjustments .row{
        padding: 20px 15px;
}

#quote-page .quotes .container{
    /*width:70%;*/
}
#quote-page .primary-quote-container{
    display: flex;
    margin-top:50px;
}
#quote-page .quote{
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid lightgray;
    margin: auto;
    box-shadow: 3px 2px 5px rgba(0,0,0, 0.2);
    text-align: center;
    line-height: 60px;
    padding: 35px 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */    
}

#quote-page .logo-name img{
    display: block;
    margin: 0 auto;    
}
#quote-page .continue button{
    border-radius: 30px;
    font-family: 'AileronThin';
    letter-spacing: .09em;
    font-size: 12px;
    outline: none;
    border: 0px;
    padding: 10px 35px;    

}
#quote-page .continue button:hover{
    border-radius: 30px;
    font-family: 'AileronThin';
    letter-spacing: .09em;
    font-size: 12px;
    outline: none;
    border: 0px;
    padding: 10px 35px;    
    opacity: .7;
}
#quote-page .continue h3{
    margin:0px;
}
#quote-page .details{
    color:#c2c2c2;
}
#quote-page .details img{
   margin-right:5px;
    width: 10%;
}
#quote-page .card{
    margin:0 auto;
}
#quote-page .sec-quote{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin:0 auto;
    padding: 25px 0;    
}
#quote-page .sec-quote > div{
    margin: 0 auto;
}
#quote-page .sec-continue button{
    border-radius: 30px;
    font-family: 'AileronThin';
    letter-spacing: .09em;
    font-size: 12px;
    outline: none;
    border: 0px;
    padding: 10px 35px;    
    background-color:orange;
}
#quote-page .sec-continue button:hover{
    border-radius: 30px;
    font-family: 'AileronThin';
    letter-spacing: .09em;
    font-size: 12px;
    outline: none;
    border: 0px;
    padding: 10px 35px;    
    opacity: .7;
}
#quote-page .gray{
    background-color: #f4f5f7;
}
#quote-page .white{
    background-color: #fff;
}


#quote-page output{
    display: inline-block;
    padding-top: 0px; 
    font-size: 14px;
    line-height: 1.42857143;

}
#quote-page .coverage, #quote-page .term-title {
    float:left;
    margin-bottom: 20px;
    color: black;    

}
#quote-page #coverage, #quote-page #term{
    float:right;
}
#quote-page input[name=ModeUsed] {
    margin-right:5px;
}
#quote-page .logo-name img{
    width: 65%;
}
#quote-page .sec-logo-name img{
   max-width: 55px;

}
#quote-page .sec-logo-name{
   max-width: 415px;
}
#quote-page .card-grid-sec{
 border: 1px solid rgba(218, 218, 218, .4);
}
#quote-page .secondary-quotes{
    margin-bottom:20px;
}
#quote-page .sidebar {
    padding: 1em;
    color: #000;
    border-right: 1px solid lightgray;  
}
#quote-page .secondary-quote{
    margin-top:75px;
}
#quote-page .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
}
#quote-page .navbar-toggle .icon-bar{
        background: red;
        padding:2px;
        border-radius:2px;
}
#quote-page .navbar a:link{
    color:black;
}
#quote-page .navbar a:visited{
    color:black;
}
#quote-page .company{
    max-width:175px;
}
#quote-page .primary-quote-container .front, #quote-page .primary-quote-container .back{
    min-height: 400px;
    max-height: 400px;
}
/*  ---------------------------   userinfo page -------------------------------- */

#userinfo-page .sidebar, #userdetails-page .sidebar {
    padding: 2.25em;
    color: #000;
    border-right: 1px solid lightgray;  

}    
#userinfo-page .main, #userdetails-page .main{
    border: 0px;
}
#userinfo-page .header, #userdetails-page .header, #quote-page .header{
    background-color: white;
    padding: 0px;
    margin: 0 auto;
    border-bottom: 1px solid #d2d1d1;
    position: relative;
    padding: 10px 0;
    
    height: 3em;
}
#userinfo-page #process-logo, #userdetails-page #process-logo, #quote-page #process-logo{
    width:15%;
}
#userinfo-page .title, #userdetails-page .title, #quote-page .title{
    
}
#userinfo-page .title, #userdetails-page .title{
    margin: 35px 0;
}
#userinfo-page .continue, #userdetails-page .continue{
    margin: 35px 0 75px 0;
}
/*  ---------------------------   userdetails page  -------------------------------- */


/* see userinfo page section */


/*  ---------------------------   life page  -------------------------------- */

#life-page{
    background-color: #9c292b;
    color:white;
    font-family: 'AileronThin';
}
#life-page .progress{
    height:0px;
}
#life-page .bar{
    width: 100%;
    background: lightgray;
    height: 10px;
}
#life-page .control-group {
	display: block;
}
#life-page fieldset > div{
    margin-top:25px;
}
#life-page input, #life-page select {
     letter-spacing: 5px;
}
#life-page fieldset:nth-child(2) .control-group, #life-page fieldset:nth-child(3) .control-group,  #life-page fieldset:nth-child(7) .control-group {
    display: inline-block;
}
#life-page .quick-quote{
        margin:auto; 
        width:75%;
        margin:auto; 
        text-align:center; 
        display:block; 
        position:relative;        
}
#life-page fieldset h1{
     margin-top: 50px;
}



/*  ---------------------------   life page input fields styling  -------------------------------- */

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px 45px;
    text-align: center;
    border-radius: 50px;
    color:white;
    font-family: 'AileronThin';
}

.control input:checked ~ .control__indicator {
	background-color: rgba(255, 255, 255, 0.6);
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background-color: rgba(255, 255, 255, 0.6);
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    	background-color: rgba(255, 255, 255, 0.6);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.control-text input{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
    font-family: 'AileronThin';
    border: none;
    /*height:20px;*/
    
    font-size:12px;
    color:white; 
    border-radius: 50px;
}

input[type=text]:focus{
  outline: none !important;
  border:1px solid white;
  box-shadow: none;
  
}
.control-text select {
    border: none;
    padding: 15px;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:white;
    font-family: 'AileronThin';
    background:none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}
.control-text select:focus{
  border:black;
  outline: none !important;
  border:1px solid white;
  box-shadow: none;
}
fieldset{
    letter-spacing: 0.2em;
    position:absolute;
    width:100%;
}
#quick-quote fieldset:not(:first-of-type) {
	display: none;
}
.previous-step{
    position:absolute; 
    top: 25rem; 
    left: -25rem;
    ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);    
}
.previous-step button{
    background:none; 
    border:none;
    outline: none; 
    pointer:cursor;    
}
.previous-step img{
    width:75%
}

/*  ---------------------------  userinfo forms styling  -------------------------------- */

.custom-size-header-box {
  background-color: #fff !important;
  height: 5rem;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid darkgray;
}

.custom-size-input-box {
    height: 5rem;
}

.custom-size-header-box:focus {
  -webkit-box-shadow: inset 0 0px 0px #fff, 0 0 0px rgba(102,175,233,.6);
  -moz-box-shadow: inset 0 0px 0px #fff, 0 0 0px rgba(102,175,233,.6);
  box-shadow: inset 0 0px 0px #fff, 0 0 0px rgba(102,175,233,.6);
}


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: rebeccapurple;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.form-inline label:after, .form-group label:after {
  content: '' !important; 
}

.padding-left-3 {
    padding-left: 3rem;
}

label {
    color: #999999;
}

.hr-border {
    border: 1px solid lightgrey;
}

.padding-bottom-2 {
    margin-bottom: 2rem;
}

.beneficiary {
    border: 1px dashed darkgray;padding: 5rem; 
}

.beneficiary-plus {
    text-align:center;color: darkgray;
}

.quick-question {
    border: 2px solid #d3d3d3;
    border-radius: 7px;
}

.form-group {
  border: 2px solid lightgray;
  border-radius: 5px 5px 4px 4px;
  background-color: white;
  margin-bottom: 15px; 
}

.transparent-bg {
    background-color: transparent;
}

hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 

.fadded-string {
        color: darkgray;
}

#primaryBeneficiaryTable, #contingentBeneficiaryTable{
    width: 106%;
    margin-left: -3%;
    height: 133px;
}

.btn-circle {
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-right: -28px;
  margin-top: -14px;
  color: #f1713c;
  border-color: #f1713c;
}

.btn-close {
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-right: -14px;
  margin-top: -14px;
  color: #f1713c;
  border-color: #f1713c;        
}

.custom-border {
    border: 1px solid #b4b4b4;
    width: 100%;
    border-top-width: initial;
}


.field_with_errors {
  border: 1px solid red; }

  
.form-inline label:after, .form-group label:after {
    content: ":"; }

.health label:after {
  content: ""; }

.formTitle {
  display: block;
  background-color: #e9e9e9;
  padding: 7px; }

.formContentWrap {
  padding: 15px; }

.noBorder {
  border-radius: 0px;
  border: 0px; }
  
.custom-size-header-box {
    background-color: #fff !important;
    height: 5rem;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid darkgray;  
}
.form-inline, .form-group {
  border: 1px solid lightgray;
  border-radius: 5px 5px 4px 4px;
  background-color: white;
  margin-bottom: 15px; 
}
.form-group.error{ 
    border:1px solid #f1713c !important; 
}

input.error{ 
    border:1px solid #f1713c !important; 
}

label.error,div.error{
    font-weight:normal;
    color:#f1713c !important;
}    
    



/*  ---------------------------   verify page  -------------------------------- */

#verify-page fieldset h1{
    font-size:15px;
    width:20%;
    letter-spacing:1px;
}
#verify-page .control-group, #verify-page h1{
    display:inline-block;
}
#verify-page .quick-quote{
        margin:auto; 
        width:65%;
}
#verified-submit{
    font-size: 29px;
    border-radius: 50px;
    width: 100%;  
    margin-top:15px;
    margin-bottom:15px;
}
#verify-page .BirthYear{
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}
#verify-page #quick-quote fieldset{
    display: block;
    position: relative;
}
#verify-page .row{
    margin-top: 0px;
    padding: 0px;
}
#verify-page h1{
    margin-top:0px;
}

#verify-page .control__indicator{
    font-size: 18px;
    letter-spacing: 2px;    
    padding: 10px 20px;

}
#verify-page .control-text input{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    border-radius: 5px;
    font-family: 'AileronThin';
    border: none;
    height: 45px;
    max-width: 130px;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}
#verify-page .control-text select {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    font-family: 'AileronThin';
    background: none;
    background-color: rgba(255, 255, 255, 0.3);
    letter-spacing: 2px;
}
#verify-page fieldset{
    margin-bottom: 10px;
}
#verify-page .quick-quote > h1{
    margin-top: 10px;
    margin-bottom: 15px;
}
#verify-page div:last{
    margin-bottom:25px;
}
#verify-page{
    background-color: #9c292b;
    color:white;
    font-family: 'AileronThin';
}
/*  --------------------------- team page  -------------------------------- */

#team-page .title{
    margin-bottom:50px;
    text-align:center;
}
#team-page .row{
    margin: 80px 0;
}
#team-page .about p{
    letter-spacing: .1em;
    line-height: 30px;
    width: 80%;
    margin:0 auto;
    text-align: left;      
}
/*  --------------------------- why usurit page  -------------------------------- */
#why-usurit-page .title{
    margin-bottom:50px;
    text-align:center;
}
#why-usurit-page .guide{
    width: 60%;
    margin: 0 auto;
    margin-top: 85px;
}
#why-usurit-page .about p{
    letter-spacing: .1em;
    line-height: 30px;
    margin:0 auto;
    margin-bottom:25px;
    text-align: left;      
}


/*  --------------------------- life guide page  -------------------------------- */
#lifeguide-page .title{
    margin-bottom:50px;
    text-align:center;
}
#lifeguide-page .guide{
    width: 60%;
    margin: 0 auto;
    margin-top: 85px;
}
#lifeguide-page .about p{
    letter-spacing: .1em;
    line-height: 30px;
    margin:0 auto;
    margin-bottom:25px;
    text-align: left;      
}

/*  --------------------------- health guide page  -------------------------------- */
#healthguide-page .title{
    margin-bottom:50px;
    text-align:center;
}
#healthguide-page .guide{
    width: 60%;
    margin: 0 auto;
    margin-top: 85px;
}
#healthguide-page .about p{
    letter-spacing: .1em;
    line-height: 30px;
    margin:0 auto;
    margin-bottom:25px;
    text-align: left;      
}

/*  ---------------------------   responsive  -------------------------------- */


/* ------------ md  ---------- */

@media screen and (max-width:992px){
 
#home-page .features-container{
    flex-direction: column;
    align-items:center;



}


/* ------------ xs  ---------- */
@media screen and (max-width:768px){
.serv h3{
    font-size:14px;
}
.questions .container{
    width:100%;
}
.primary-quote-container{
    flex-direction: column;
}
.features-container{
    flex-direction: column;
}
.features{
    margin-bottom: 50px;
}
.feature-details{
    margin-top: 25px;
}
#userinfo-page #process-logo, #userdetails-page #process-logo,{
    width:15%;
}
#life-page #process-logo, #verify-page #process-logo, #quote-page #process-logo{
    width:4%;
}

#userinfo-page .sidebar, #userdetails-page .sidebar{
    display: none;
}
#verify-page .control-group, #verify-page h1 {
     display: inline-block; 
}

#verify-page fieldset h1 {
    font-size: 15px;
     width: 100%; 
    letter-spacing: 1px;
}
#verified-submit{
    font-size: 29px;
    border-radius: 50px;
    width: 100%;    
}
#quote-page .navbar{
    position: relative;
    min-height: 50px;
     margin-bottom: 0px; 
    border: 1px solid transparent;    
}

#quote-page .sidebar {
    padding: 1em;
    color: #000;
    border-right: none; 
    height: 100%;
}
#quote-page .adjustments {
    font-family: 'AileronThin';
    border-bottom: none;
}
#quote-page .sec-logo-name img {
    max-width: 45%;
}
#quote-page .sec-quote{
    padding: 5px 25px;
}
#quote-page .adjust-title, .monthly-annually{
    display:none;
}
#quote-page .adjustments {
    font-family: 'AileronThin';
    border-bottom: none;
    padding: 10px;
}
#quote-page .premium h3{
    float:right;
}
#quote-page .controls div{
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;    
}
#quote-page output{
    font-family:'AileronSemibold';
    color: black;
}
#life-page .quick-quote{
        margin:auto; 
        width:90%;
}
#life-page .header, #userinfo-page .header, #userdetails-page .header {
    height: 42px !important;
}
.control-text input {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
    font-family: 'AileronThin';
    border: none;
    /* height: 20px; */
    font-size: 12px;
    color: white;
    width:200px;
}
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:20px;
    position:absolute;
    top:55%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    z-index:999;
}
.popup-inner h2{
    font-size: 1em;
}
.guide .row {
     width: 100%; 
    margin: 0 auto;
    margin-top: 20px;
}
li.dropdown:hover .dropdown-content{
    display:none;
}
#life-page .control-group {
    display: block;
}
}


/* ------------ xs  ---------- */
@media screen and (max-width:375px){
    

#home-page .services{
    flex-direction:column;
    height: 100%;
    width: 100%;
    }
#home-page .title h1{
    font-size: 2.0em;
}
.features-container{
    flex-direction: column;
}
.features{
    margin-bottom: 50px;
}
.feature-details{
    margin-top: 25px;
}
.get-started select{
    margin: 10px 0px;
}
#home-page .guide:nth-child(1), #why-usurit-page .guide:nth-child(1), #lifeguide-page .guide:nth-child(1), #healthguide-page .guide:nth-child(1){
    margin: 85px 0px;
}
.faq > div{
    margin:0px;
}
.questions ul{
    list-style: none;
    line-height: 25px;
    /* float: right; */
    display: inline-block;
    }
.questions{
        text-align: center;
}
.questions .container{
        width:70%;
}
#home-page .serv{
    border-bottom: 1px solid lightgray;
    width: 100%;
}
#home-page .carrier-logo{
    width: 90%;
}
#home-page .carrier-logo div:nth-child(4){
    display: none;
}
#home-page .c-logo{
    margin-right:10px;
}

#userinfo-page #process-logo, #life-page #process-logo, #verify-page #process-logo, #quote-page #process-logo{
    width:8%;
}
#userinfo-page .sidebar, #userdetails-page .sidebar {
    display: none;
}
#userinfo-page .main, #userdetails-page .main{
    
    margin-left: 0 !important;
}
.team .container {
    width:100%;
}

/* footer */
.section2, .section3, .section4{
    display: none;
}
#quote-page .monthly-annually, #quote-page .adjust-title{
    display:none;
}
#quote-page .sidebar {
    color: #000;
    border-right: none; 
    padding-bottom:0px;
}
#quote-page .adjustments {
    font-family: 'AileronThin';
    border-bottom: none;
    padding: 10px;
}
#quote-page .controls div{
    text-align: center;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;    
}
#quote-page .sec-logo-name img {
    max-width: 45%;
}
#quote-page .sec-quote{
    padding: 5px 25px;
}
#quote-page .premium h3{
    float:right;
}
#quote-page .controls div{
    margin-bottom: 20px;
}
#quote-page output{
    font-family:'AileronSemibold';
    color: black;
}
#verify-page .control-group, #verify-page h1 {
     display: inline-block; 
}

#verify-page fieldset h1 {
    font-size: 15px;
     width: 100%; 
    letter-spacing: 1px;
}
#verified-submit{
    font-size: 29px;
    border-radius: 50px;
    width: 100%;    
}
.control-text input {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
    font-family: 'AileronThin';
    border: none;
    /* height: 20px; */
    font-size: 12px;
    color: white;
    width:200px;
}
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:20px;
    position:absolute;
    top:55%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    z-index:999;
}
.popup-inner h2{
    font-size: 1em;
}
#why-usurit-page .row {
    width: 100%; 
    margin: 0 auto;
    margin-top: 0px;
    padding:0px;
}
#lifeguide-page .guide, #healthguide-page .guide{
    width: 100%;
    margin: 0 auto;
}
.get-started{
    
    padding: 25px 0px;
}



}

/* iphone6 plus portrait*/
@media only screen 
    and (min-device-width:414px) 
    and (max-device-width:736px)
    and (device-width:414px)
    and (device-height:736px)
    and (orientation:portrait) 
    and (-webkit-min-device-pixel-ratio:3) 
    and (-webkit-device-pixel-ratio:3)
{
#home-page .services{
    flex-direction:column;
    height: 100%;
    width: 100%;
    }
#home-page .title h1{
    font-size: 2.0em;
}
#home-page .features-container{
    flex-direction: column;
}
#home-page .features{
    margin-bottom: 50px;
}
#home-page .feature-details{
    margin-top: 25px;
}
#home-page select{
    margin: 10px 0px;
}
#home-page .faq > div{
    margin:0px;
}
#home-page .questions ul{
    list-style: none;
line-height: 25px;
/* float: right; */
display: inline-block;
}
#home-page .questions{
        text-align: center;
}
#home-page .questions .container{
        width:70%;
}
#home-page .serv{
    border-bottom: 1px solid lightgray;
    width: 100%;
}
#home-page .carrier-logo{
    width: 90%;
}
#home-page .carrier-logo div:nth-child(4){
    display: none;
}
#home-page .c-logo{
    margin-right:10px;
}   
#home-page .features-container{
    width:90%;
}
#quote-page .monthly-annually, #quote-page .adjust-title{
    display:none;
}
  
}


/* iphone6 plus landscape */

@media only screen 
    and (min-device-width:414px) 
    and (max-device-width:736px) 
    and (orientation:landscape) 
    and (-webkit-min-device-pixel-ratio:3) 
{ 

#home-page .features-container{
    flex-direction: column;
    width: 50%;

#quote-page .monthly-annually, #quote-page .adjust-title{
    display:none;
}    
    

}
